extends layout

block content
  h1= "Match list" 
  form(action="/", method="get")
    label(for="status") Filter by status: 
    select(name="status")
      option(value="") All 
      option(value="PLANNED") Planned 
      option(value="IN_PROGRESS") In progress 
      option(value="FINISHED") Finished 
    button(type="submit") Filter

  ul#matches-list
    each match in matches
      li(date-id=match.id)
        p #{match.teamAName} vs #{match.teamBName}
        p Status: #{match.status}
        p Current result: #{match.result}
        p Match progres:
          if match.resultdetailed 
            each result, index in match.resultdetailed 
              Set #{result.join(' | ')}
        if match.status === 'PLANNED' || match.status === 'IN_PROGRESS'
          a(href=`/match/${match.id}`) View
        if match.status !== 'FINISHED'
          button(onclick=`viewMatch('${match.id}')`) View match
        if match.status === 'FINISHED'
          button(onclick=`copyMatch('${match.id}')`) Copy to clipboard
  
  script(src="/socket.io/socket.io.js")
  script. 
    var socket = io();
    
    //listening for match deletion
    socket.on('matchDelete', function(date){
      const matchElement = document.querySelector(`li[date-id="${date.matchId}"]`);
      if (matchElement) {
        matchElement.remove();
      }
    });

    //listening for match update
    socket.on('statusUpdated', function(date) {
      const matchElement = document.querySelector(`li[date-id="${date.matchId}"]`);
      if (matchElement) {
        const statusText = matchElement.querySelector('p:nth-child(2)');
        if (statusText) {
          statusText.textContent = `Status: ${date.status}`;
        }
      }
    });

    //copy to clipboard
    function copyMatch(matchId) {
    fetch(`/copy/${matchId}`)
      .then(response => response.text())
      .then(text => {
        navigator.clipboard.writeText(text);
        alert('Copied to clipboard!');
      });
    }

    function viewMatch(matchId){
      window.location.href = `/match/${matchId}`;
    }